.bg{
    position: relative;
    padding: 10px;
}
body::before{
    transition: all 0.3s ease-in-out;
    background: url(../BG_img/Bg1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    content: "";
    z-index: -1;
    top: 0px;
    opacity: 0.5;
    border-radius:10px;

    position: absolute;
}
.form{
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: auto;
    height: 100%;
    padding: 1rem;
    background-color: #ffffffa6;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0,0,0,0.2);

   
}
.form>input{
    width: 100%;
    padding: 1rem;
    margin: 0.5rem 0;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    outline: none;
    transition: all 0.3s ease-in-out;
}
.Row{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.rowCh{
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 15vh;
}
.rowCh>label{
    color: gray;
    margin-bottom: calc(0.5rem - 1px);
}
.rowCh>input{
    padding: 5px;

}
.testType>select{
    padding: 5px;
    border-color:1px solid gray; ;
}
.button{
    width: 20%;
    padding: 1rem;
    margin: 0.5rem 0;
    border: none;
    border-radius: 0.5rem;
    outline: none;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.testType{
    display: flex;

}
.testTypeInput{
    /* width: 100%; */
    padding: 5px;
    margin: 0px 5px;
    transition: all 1.3s ease-in-out;
}
.testAddBtn{
    /* color: darkblue; */
text-decoration: underline;
padding: 5px;
cursor: pointer;
transition: all 0.3s ease-in-out;
margin: 0px calc(0.5rem + 1vw) ;
}
.addTest{
    margin: 0px calc(0.5rem + 1vw);
}
.warning{
    height: 64px;
}


@media screen and (max-width:536px){
    .Row{
        flex-direction: column;
    }
    .rowCh{
        width: 100%;
    }
    .testType{
        flex-direction: column;
        
    }
    .testType>div{
        width: 100%;
        margin: 5px 0px;
    }
    .testType>input{
        width: 100%;
        margin: 8px 0px;
        padding: 5px;
    }
    .testAddBtn{
        width: 50%;
        margin:auto;
        display: block;
    }
    .button{
        width: 100%;
    }
}
@media screen and (min-width:537px) and (max-width:768px){
    .form{
        width: 100%;
    }
}
.inputError{
    color: red;
}